.title,
.description,
.register {
  text-align: center;
}

.title {
  font-size: var(--48px);
}

.register {
  display: flex;
  align-items: center;
  gap: var(--8px);
}

@screen md {
  .title {
    font-size: var(--56px);
  }
}
