.header {
  display: flex;
  align-items: center;
  height: var(--64px);
  margin: var(--24px) 0 var(--104px) 0;
}

.logo {
  display: flex;
  align-items: center;
  width: 30%;
  font-size: var(--24px);
  font-weight: bold;
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70%;
  gap: var(--8px);
}
