.header {
  display: flex;
  align-items: center;
  height: var(--64px);
  margin: var(--24px) 0 var(--40px) 0;
}

.logo {
  display: flex;
  align-items: center;
  width: 30%;
}

.logo h5 {
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70%;
  gap: var(--8px);
}
