.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--8px);
  margin-bottom: var(--16px);
}

.input {
  width: 100%;
}

.error {
  text-align: center;
  color: hsl(var(--destructive));
}

@screen md {
  .input {
    width: 31.5rem; /* 504px */
  }
}
